body {
    background-color: var(--bs-gray-dark);
    .nav-menu {
        background-color: var(--bs-gray);

        .nav-menu-shop-nft {
            color: var(--bs-yellow);
            p {
                background-color: var(--bs-gray-dark);
                font-size: 12px;
                // .nft-bagde{
                //     font-size: 4px;
                // }
            }
        }
        .nav-dropdown-menu {
            .dropdown-menu {
                background-color: var(--bs-gray-900);
            }
        }

        .nav-profile-name {
            .fa-circle {
                color: var(--bs-success);
            }

            p {
                color: var(--bs-white);

            }

        }
    }

    .main-cards-section {
        h6 {
            color: var(--bs-white);
        }
    }
    .cards{
        background-color: var(--bs-black);
        h1{
            color: var(--bs-white);
        }
        h5{
            color: var(--bs-gray-600);
        }
        h6{
            color: var(--bs-gray-600);
        }
        p{
            color: var(--bs-white);
            font-size: 12px;
            font-family: 'Inter', sans-serif;
            font-weight: 100;
           
        }
    }
    .popular-items-cards{
        background-color: var(--bs-black);
        img{
            height: 120px;
        }
     }
     .popular-items-cards-bottom{
        background-color: var(--bs-black);
     }
     .bottom-cards{
            color: var(--bs-white);
           
                h6{
                    color: var(--bs-white);  
            }
     }
     footer{
        background-color: var(--bs-black);
        .footer-p{
            color: var(--bs-white);
            font-size: 12px;
        }
     }
}