body {
    background: linear-gradient(#31363A, #13171A);
    height: 100vh;
    margin: 0;

    nav {
        form {
            background-color: #42474A;
            border-radius: 10px;

            i {
                color: #D4D7DC;
            }

            .form-control::placeholder {
                color: #7D7D7D;
            }
        }

        // .nav-admin{
        //     background-color:#C4C4C4; 
        //     width: 41px;
        //     height: 41px;
        //  p{
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //  }
        //   p{
        //     font-size: 24px;
        //     color: #ffffff;
        //   }
        //   .nav-admin-name{
        //     font-size: 20px;
        //    color: #C4C4C4;
        //   }
        // }
        .nav-admin {
            .nav-profile {
                color: #c4c4c4;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;

                .icon-text {
                    position: absolute;
                    color: white;
                }

            }

            .nav-profile-name {
                color: #c4c4c4;
            }
        }
    }

    .order-list {
        h4 {
            color: white;

        }

        .color-cards-container {
            .color-cards:nth-child(1) {
                background: linear-gradient(to right, #FFA113, #F4350A);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: white;
                    font-size: 14px;
                }
            }
            .color-cards:nth-child(2) {
                background: linear-gradient(to right, #5A5752, #89807E);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: #9C9292;
                    font-size: 14px;
                }
            }
            .color-cards:nth-child(3) {
                background: linear-gradient(to right, #FFA113, #F4350A);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: white;
                    font-size: 14px;
                }
            }
            .color-cards:nth-child(4) {
                background: linear-gradient(to right, #FFA113, #F4350A);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: white;
                    font-size: 14px;
                }
            }
            .color-cards:nth-child(5) {
                background: linear-gradient(to right, #5A5752, #89807E);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: #9C9292;
                    font-size: 14px;
                }
            }
            .color-cards:nth-child(6) {
                background: linear-gradient(to right, #5A5752, #89807E);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: #9C9292;
                    font-size: 14px;
                }
            }
            .color-cards:nth-child(7) {
                background: linear-gradient(#D2DF3D, #959D3E);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: white;
                    font-size: 14px;
                }
            }
            .color-cards:nth-child(8) {
                background: linear-gradient(#DFA83D, #8D7840);
                width: 97px;
                height: 45px;
                .color-cards-text {
                    color: white;
                    font-size: 14px;
                }
            }
        }
    }
}