body {
  background: linear-gradient(#31363A, #13171A);
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
}
body nav form {
  background-color: #42474A;
  border-radius: 10px;
}
body nav form i {
  color: #D4D7DC;
}
body nav form .form-control::-moz-placeholder {
  color: #7D7D7D;
}
body nav form .form-control::placeholder {
  color: #7D7D7D;
}
body nav .nav-admin .nav-profile {
  color: #c4c4c4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
body nav .nav-admin .nav-profile .icon-text {
  position: absolute;
  color: white;
}
body nav .nav-admin .nav-profile-name {
  color: #c4c4c4;
}
body .order-list h4 {
  color: white;
}
body .order-list .color-cards-container .color-cards:nth-child(1) {
  background: linear-gradient(to right, #FFA113, #F4350A);
  width: 97px;
  height: 45px;
}
body .order-list .color-cards-container .color-cards:nth-child(1) .color-cards-text {
  color: white;
  font-size: 14px;
}
body .order-list .color-cards-container .color-cards:nth-child(2) {
  background: linear-gradient(to right, #5A5752, #89807E);
  width: 97px;
  height: 45px;
}
body .order-list .color-cards-container .color-cards:nth-child(2) .color-cards-text {
  color: #9C9292;
  font-size: 14px;
}
body .order-list .color-cards-container .color-cards:nth-child(3) {
  background: linear-gradient(to right, #FFA113, #F4350A);
  width: 97px;
  height: 45px;
}
body .order-list .color-cards-container .color-cards:nth-child(3) .color-cards-text {
  color: white;
  font-size: 14px;
}
body .order-list .color-cards-container .color-cards:nth-child(4) {
  background: linear-gradient(to right, #FFA113, #F4350A);
  width: 97px;
  height: 45px;
}
body .order-list .color-cards-container .color-cards:nth-child(4) .color-cards-text {
  color: white;
  font-size: 14px;
}
body .order-list .color-cards-container .color-cards:nth-child(5) {
  background: linear-gradient(to right, #5A5752, #89807E);
  width: 97px;
  height: 45px;
}
body .order-list .color-cards-container .color-cards:nth-child(5) .color-cards-text {
  color: #9C9292;
  font-size: 14px;
}
body .order-list .color-cards-container .color-cards:nth-child(6) {
  background: linear-gradient(to right, #5A5752, #89807E);
  width: 97px;
  height: 45px;
}
body .order-list .color-cards-container .color-cards:nth-child(6) .color-cards-text {
  color: #9C9292;
  font-size: 14px;
}
body .order-list .color-cards-container .color-cards:nth-child(7) {
  background: linear-gradient(#D2DF3D, #959D3E);
  width: 97px;
  height: 45px;
}
body .order-list .color-cards-container .color-cards:nth-child(7) .color-cards-text {
  color: white;
  font-size: 14px;
}
body .order-list .color-cards-container .color-cards:nth-child(8) {
  background: linear-gradient(#DFA83D, #8D7840);
  width: 97px;
  height: 45px;
}
body .order-list .color-cards-container .color-cards:nth-child(8) .color-cards-text {
  color: white;
  font-size: 14px;
}
body .menu-cards-container .menu-cards {
  width: 270px;
  height: 337px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#212429, #6C7076);
}
body .menu-cards-container .menu-cards .menu-cards-top-part .top-text {
  font-size: 16px;
  color: white;
}
body .menu-cards-container .menu-cards .menu-cards-top-part .bottom-text {
  font-size: 12px;
  color: #888888;
}
body .menu-cards-container .menu-cards .cards-profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #BE2828;
}
body .menu-cards-container .menu-cards .cards-profile .icon-text {
  position: absolute;
  color: white;
}
body .menu-cards-container .menu-cards .menu-list-section .menu-list .list-left figure,
body .menu-cards-container .menu-cards .menu-list-section .menu-list .list-left img {
  width: 82px;
  height: 82px;
}
body .menu-cards-container .menu-cards .menu-list-section .menu-list .menu-list-texts h6 {
  color: white;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
body .menu-cards-container .menu-cards .menu-list-section .menu-list .menu-list-texts p {
  font-size: 12px;
  color: #888888;
}
body .menu-cards-container .menu-cards .menu-list-section .menu-list .menu-list-texts .list-text-bottom p {
  color: white;
}
body .menu-cards-container .menu-cards .menu-list-section .menu-list .cards-footer .footer-text p {
  color: #888888;
  font-size: 12px;
}
body .menu-cards-container .menu-cards .menu-list-section .menu-list .cards-footer .footer-text p:last-child {
  color: white;
  font-size: 12px;
}
body .menu-cards-container .menu-cards .menu-list-section .menu-list .cards-footer .footer-box {
  background: linear-gradient(to right, #FFA113, #F4350A);
  width: 45px;
  height: 45px;
}
body .menu-cards-container .menu-cards .menu-list-section .menu-list .cards-footer .footer-box:last-child {
  background: linear-gradient(to right, #5A5752, #89807E);
  width: 45px;
  height: 45px;
}
body .menu-cards-container .menu-cards .menu-list-section .menu-list .cards-footer .footer-button {
  width: 143px;
  height: 45px;
  background: linear-gradient(to right, #5A5752, #89807E);
}
body .menu-cards-container .menu-cards .menu-list-section .menu-list .cards-footer .footer-button p {
  color: #9C9292;
  font-size: 15px;
}
body .menu-cards-container .menu-cards .menu-list-section .menu-list .cards-footer .footer-button-second {
  width: 143px;
  height: 45px;
  background: linear-gradient(to right, #FFA113, #F4350A);
}
body .menu-cards-container .menu-cards .menu-list-section .menu-list .cards-footer .footer-button-second p {
  color: white;
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */