body {
    background: linear-gradient(#31363A, #13171A);
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    nav {
        form {
            background-color: #42474A;
            border-radius: 10px;

            i {
                color: #D4D7DC;
            }

            .form-control::placeholder {
                color: #7D7D7D;
            }
        }
        .nav-admin {
            .nav-profile {
                color: #c4c4c4;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;

                .icon-text {
                    position: absolute;
                    color: white;
                }

            }

            .nav-profile-name {
                color: #c4c4c4;
            }
        }
    }

    .order-list {
        h4 {
            color: white;

        }

        .color-cards-container {
            .color-cards:nth-child(1) {
                background: linear-gradient(to right, #FFA113, #F4350A);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: white;
                    font-size: 14px;
                }
            }

            .color-cards:nth-child(2) {
                background: linear-gradient(to right, #5A5752, #89807E);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: #9C9292;
                    font-size: 14px;
                }
            }

            .color-cards:nth-child(3) {
                background: linear-gradient(to right, #FFA113, #F4350A);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: white;
                    font-size: 14px;
                }
            }

            .color-cards:nth-child(4) {
                background: linear-gradient(to right, #FFA113, #F4350A);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: white;
                    font-size: 14px;
                }
            }

            .color-cards:nth-child(5) {
                background: linear-gradient(to right, #5A5752, #89807E);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: #9C9292;
                    font-size: 14px;
                }
            }

            .color-cards:nth-child(6) {
                background: linear-gradient(to right, #5A5752, #89807E);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: #9C9292;
                    font-size: 14px;
                }
            }

            .color-cards:nth-child(7) {
                background: linear-gradient(#D2DF3D, #959D3E);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: white;
                    font-size: 14px;
                }
            }

            .color-cards:nth-child(8) {
                background: linear-gradient(#DFA83D, #8D7840);
                width: 97px;
                height: 45px;

                .color-cards-text {
                    color: white;
                    font-size: 14px;
                }
            }
        }
    }

    .menu-cards-container {
        .menu-cards {
            width: 270px;
            height: 337px;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            background: linear-gradient(#212429, #6C7076, );

            .menu-cards-top-part {
                .top-text {
                    font-size: 16px;
                    color: white;
                }

                .bottom-text {
                    font-size: 12px;
                    color: #888888;
                }
            }

            .cards-profile {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                color: #BE2828;

                .icon-text {
                    position: absolute;
                    color: white;

                }
            }
            .menu-list-section {
                .menu-list {
                    .list-left {

                        figure,
                        img {
                            width: 82px;
                            height: 82px;
                        }
                    }

                    .menu-list-texts {
                        h6 {
                            color: white;
                            font-size: 15px;
                            font-family: 'Roboto', sans-serif;
                        }

                        p {
                            font-size: 12px;
                            color: #888888;
                        }

                        .list-text-bottom {
                            p {
                                color: white;
                            }
                        }
                    }

                    .cards-footer {
                        .footer-text {
                            p {
                                color: #888888;
                                font-size: 12px;
                            }

                            p:last-child {
                                color: white;
                                font-size: 12px;
                            }
                        }

                        .footer-box {
                            background: linear-gradient(to right, #FFA113, #F4350A);
                            width: 45px;
                            height: 45px;

                        }

                        .footer-box:last-child {
                            background: linear-gradient(to right, #5A5752, #89807E);
                            width: 45px;
                            height: 45px;
                        }
                        .footer-button{
                            width: 143px;
                            height: 45px;
                            background: linear-gradient(to right,  #5A5752, #89807E);
                            p{
                                color: #9C9292;
                                font-size: 15px;
                            }
                        }
                        .footer-button-second{
                            width: 143px;
                            height: 45px;
                            background: linear-gradient(to right,  #FFA113, #F4350A);
                            p{
                                color: white;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    

}